.hi-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 5vh;
}

.hi-container::-webkit-scrollbar {
    display: none;
}

.justify-center {
    justify-content: center;
}