.step-container {
    display: flex;
    padding: 5%;
    font-weight: bold;
    font-size: 1em;
    color: #000666;
}

td {
    min-width: inherit;
}

.right-table {
    margin-left: auto;
    margin-right: 0px;
}

.icon-box {
    font-size: 1.5em;
    color: grey;
}

.day-box {
    min-width: 65px;
    padding-bottom: 1vh;
    font-size: 1em;
    color: #000;
}

.high-temp, .day-box {
    padding-left: 15%;
}

.high-temp {
    font-size: 1.2em;
}

.low-temp {
    color: grey;
}

.right-header {
    padding-bottom: 1vh;
    font-size: 0.8em;
    line-height: 2em;
    color: grey;
}

.rain {
    padding-right: 30%;
}

.right-data {
    color: #000;
}