.app-title {
    margin-top: 0.5vh;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: grey;
}

.current-temp-forecast-spacer {
    padding-bottom: 5vh;
}

.forecast-step-spacer {
    margin-top: 1vh;
}

.grid {
    display: grid;
    grid-template-columns: 10% auto 20% auto 20%;
    justify-content: space-between;
    font-size: 1em;
    padding: 0 5%;
}
