.current-temp {
    margin-top: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #000066;
}

.city-text {
    font-size: 0.8em;
    color: #000;
}

svg {
    color: grey;
}