.viewing-day {
    font-size: 1em;
    margin-bottom: 1vh;
    margin-left: 20vw;
}

.di-grid-contanier {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.di-grid-item {
    text-align: center;
    margin: 2vh 0 2vh 0;
}

.di-content-parent {
    text-align: left;
    color: grey;
    font-size: 0.8em;
    font-weight: bold;
}

.di-content {
    font-size: 2em;
    color: #000;
}
