.viewing-day {
    font-size: 1em;
    margin-left: 5vw;
    padding-bottom: 2vh;
    font-weight: bold;
}

.di-grid-contanier {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #D9E3E5;
}


.di-content {
    margin-bottom: 2vh;
    text-align: left;
}

.di-content-left {
    float: left;
}

.di-content-right {
    float: right;
}

.di-content-header {
    font-weight: bold;
}